<div class="footer">
    <div class="container">
        <div class="footer-coluna">
            <h3>Conheça mais</h3>
            <div class="logo">Logo</div>
        </div>
        <div class="footer-coluna">
            <h3>Contato</h3>
            <div class="footer-icones-contato">
                <div>
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </div>
                <div>
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </div>
                <div>
                    <fa-icon [icon]="faWhatsapp"></fa-icon>3310-7207
                </div>
                <div>
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </div>
            </div>
        </div>
        <div class="footer-coluna">
            <h3>Endereço</h3>
            <div>
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            </div>
        </div>
</div>
</div>