/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style-type: none;
}

.container {
    width: 60%;
    margin-left: 20%;
}

.menu-1 {
    background-color: lightgray;
    height: 42px;
}

.menu-1 ul{ 
    display: flex; 
    justify-content: flex-end;
    margin-top: 0px;
}

.menu-1 button {
    margin: 7px;
    margin-bottom: 0px;
}

.menu-2 ul{
    display: flex; 
    justify-content: space-between;
    margin-top: 5px;
}

.menu-2 ul li {
    display: flex;
}

.logo {
    margin-right: 40px;
}

.gouvea-descricao {
    padding-top: 20px;
}

.busca {
    width: 400px;
}

.input-busca {
    width: inherit;
}