/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul {
    list-style-type: none;
}

@media only screen and (min-width : 320px){
    
}

@media only screen and (min-width : 768px){
    
}

@media only screen and (min-width : 1200px){
    
}

.container {
    width: 60%;
    margin-left: 20%;
}

.menu-1 {
    background-color: #f1f1f1;
    height: 31px;
}

.menu-1 ul{ 
    display: flex; 
    justify-content: flex-end;
    margin-top: 0px;
}

.menu-1 button {
    margin: 7px;
    margin-bottom: 0px;
    border: none;
    cursor: pointer;
}

#quero-ser-cliente {
    margin-right: 380px;
}

.menu-2 ul{
    display: flex; 
    justify-content: space-between;
}

.menu-2 ul li {
    display: flex;
}

.logo {
    margin-right: 40px;
}

.gouvea-descricao {
    margin-top: 0px;
    margin-bottom: 4px;
}

.busca {
    width: 438px;
    height: 38px;
    padding: 0 13px;
    border: 0;
}

.input-busca {
    width: inherit;
    padding-left: 10px;
}

.icone-busca {
    margin-top: 9px;
    padding-left: 410px;
    position: absolute;
    cursor: pointer;
}

.carrinho {
    margin-right: 15px;
    margin-top: 7px;
}

.quantidade-itens {
    margin-right: 5px;
    margin-top: 7px;
}

.setor-botao {
    font-weight: bold;
}

.carousel {
    margin-top: 10px;
}

.destaque-header {
    justify-content: center !important;
    margin-top: 15px !important;
    padding-left: 0px;
}

.destaque-header-line {
    width: 450px;
    margin: 10px;
}

.destaque-produto {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 35%;
    background-color: #f1f1f1;
    padding: 30px 0;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}

.footer .container .footer-coluna{
    width: 33.33%;
}

.footer .container .footer-icones-contato{
    display: flex;
    flex-direction: column;
}

.footer .container .footer-icones-contato div{
    margin: 2px 0;
}
.footer .container .footer-icones-contato div fa-icon{
    margin-right: 5px;
}
