<button mat-raised-button [matMenuTriggerFor]="menu1">Papelaria</button>
<mat-menu #menu1="matMenu">
    <button mat-menu-item class="setor-botao">Papel</button>
    <button mat-menu-item>Folha A4</button>
    <button mat-menu-item>Folha A8</button>
    <button mat-menu-item class="setor-botao">Bobina</button>
    <button mat-menu-item>Folha A8</button>
</mat-menu>
<button mat-raised-button [matMenuTriggerFor]="menu2">Escritório</button>
<mat-menu #menu2="matMenu">
    <button mat-menu-item class="setor-botao">Grampeador</button>
    <button mat-menu-item>Grampeador 1</button>
    <button mat-menu-item>Grampeador 2</button>
    <button mat-menu-item class="setor-botao">Cadernos</button>
    <button mat-menu-item>Caderno Comum</button>
    <button mat-menu-item>Caderno Capa Dura</button>
</mat-menu>
<button mat-raised-button [matMenuTriggerFor]="menu3">Copa / Cozinha</button>
<mat-menu #menu3="matMenu">
    <button mat-menu-item class="setor-botao">Canecas</button>
    <button mat-menu-item>Caneca 1</button>
    <button mat-menu-item>Caneca 2</button>
    <button mat-menu-item class="setor-botao">Cafeteiras</button>
    <button mat-menu-item>Cafeteira 1</button>
    <button mat-menu-item>Cafeteira 2</button>
</mat-menu>