<header>
    <div class="menu-1">
        <div class="container">
            <ul>
                <li>
                    <button>
                        <fa-icon [icon]="faUser"></fa-icon>
                        Entrar
                    </button>
                </li>
                <li>
                    <button id="quero-ser-cliente">Quero ser cliente</button>
                </li>
            </ul>
        </div>
    </div>

    <div class="menu-2">
        <div class="container">
            <ul>
                <li>
                    <div class="logo">
                        Logo
                    </div>
                    <div>
                        <h4 class="gouvea-descricao">
                            Gouvea Materiais
                        </h4>
                        <p class="gouvea-descricao">loja online</p>
                    </div>

                </li>
                <li class="busca">
                    <fa-icon class="icone-busca" [icon]="faSearch"></fa-icon>
                    <input class="input-busca" placeholder="Pesquisar produtos">
                </li>
                <li class="carrinho-compras">
                    <fa-icon class="carrinho" [icon]="faShoppingCart" size="lg"></fa-icon>
                    <div class="quantidade-itens">0</div>
                </li>
            </ul>
        </div>
    </div>
</header>